/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 * {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#efebc8;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
        );
    background-attachment:fixed;
    font-family: serif;
    font-size: 3vw;
    font-size:12px;/*fall back font size*/
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    background-image:  url(../img/tallmonster1.png);
    background-repeat: no-repeat;
    background-size: auto 45%;
    background-position: 98% 98%;
}

/* Portrait layout (default) */
.app {
    position:relative;             /* position in the center of the screen */
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    margin:auto;  /* offset vertical: half of image height and text area height */
    margin-top: 50px;                              /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
    }
}

h1 {
    font-size:4vmax;
    font-weight:bold;
    margin:0px;
    overflow:visible;
    padding:7px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    font-size: 3vw;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

#container{
    max-width: 75%;
    margin: auto;
}

#logo{
    position:relative;
    height: auto;
    margin:auto;
}


div#logo{
    max-width: 100%;
    content: url(../img/logo.png);
}

#social{

}

#startCustomInput{
    color: #088889;
    border: 2px solid #088889;
    font-size: 14px;
    font-size: 4.4vw;
    text-transform: uppercase;
    width: 50%;
}

.start99{
    font-family: serif;
    background-color: #c7c092;
    color: #b12134;
    font-weight: bold;
    border: 2px solid #088889;
    border-radius: 10px;
    font-size: 14px;
    font-size: 4.4vw;
    text-transform: uppercase;
}

#verbCustomInput{
    color: #088889;
    border: 2px solid #088889;
    font-size: 14px;
    font-size: 4.4vw;
    text-transform: uppercase;
    width: 50%;
}

.verb99{
    font-family: serif;
    background-color: #c7c092;
    color: #b12134;
    font-weight: bold;
    border: 2px solid #088889;
    border-radius: 10px;
    font-size: 14px;
    font-size: 4.4vw;
    text-transform: uppercase;
}

#quantCustomInput{
    color: #088889;
    border: 2px solid #088889;
    font-size: 14px;
    font-size: 4.4vw;
    text-transform: uppercase;
    width: 50%;
}

.quant99{
    font-family: serif;
    background-color: #c7c092;
    color: #b12134;
    font-weight: bold;
    border: 2px solid #088889;
    border-radius: 10px;
    font-size: 14px;
    font-size: 4.4vw;
    text-transform: uppercase;
}

#franchiseCustomInput{
    color: #088889;
    border: 2px solid #088889;
    font-size: 14px;
    font-size: 4.4vw;
    text-transform: uppercase;
    width: 50%;
}

.franchisecustom{
    font-family: serif;
    background-color: #c7c092;
    color: #b12134;
    font-weight: bold;
    border: 2px solid #088889;
    border-radius: 10px;
    font-size: 14px;
    font-size: 4.4vw;
    text-transform: uppercase;
}

#nounCustomInput{
    color: #088889;
    border: 2px solid #088889;
    font-size: 14px;
    font-size: 4.4vw;
    text-transform: uppercase;
    width: 50%;
}

.noun99{
    font-family: serif;
    background-color: #c7c092;
    color: #b12134;
    font-weight: bold;
    border: 2px solid #088889;
    border-radius: 10px;
    font-size: 14px;
    font-size: 4.4vw;
    text-transform: uppercase;
}

#rewardCustomInput{
    color: #088889;
    border: 2px solid #088889;
    font-size: 14px;
    font-size: 4.4vw;
    text-transform: uppercase;
    width: 50%;
}

.reward99{
    font-family: serif;
    background-color: #c7c092;
    color: #b12134;
    font-weight: bold;
    border: 2px solid #088889;
    border-radius: 10px;
    font-size: 14px;
    font-size: 4.4vw;
    text-transform: uppercase;
}

#timeCustomInput{
    color: #088889;
    border: 2px solid #088889;
    font-size: 14px;
    font-size: 4.4vw;
    text-transform: uppercase;
    width: 50%;
}

.time99{
    font-family: serif;
    background-color: #c7c092;
    color: #b12134;
    font-weight: bold;
    border: 2px solid #088889;
    border-radius: 10px;
    font-size: 14px;
    font-size: 4.4vw;
    text-transform: uppercase;
}

#friendSelector{
    font-size: 6px;
}

#friendSelector ul{
    list-style-type: none;
}

#friendSelector img{
    width: 30%;

}

#connect{
    max-width: 100%;
    font-size: 24px;
    font-size: 6vw;
    position:relative;
    text-align:center;
    margin:auto;
    color: black;
    margin-top: 5px;
}

div#fb{
    margin:auto;
    max-width: 70%;
}

#fb{
    position:relative;
    margin:auto;
    color: white;
    border: 5px solid black;
    border-radius: 18px;
    margin-top: 5px;
    background-color: #4a86ea;
}

#fb h1{
    padding: 0;
    font-weight:bold;
    text-align:center;
}



#splashContract{
    max-width: 80%;
    margin: auto;
    text-align: center;

}

#nofb{
    font-size: 1.2em;
    text-decoration: underline;
    text-align: center;
}

#nofun{
    font-size: 12px;
    font-size: 3vw;
    color: red;
    text-align: center;

}

div#legal{
    margin: auto;
}

#legal{
    font-size: 12px;
    font-size: 3vw;
    text-align: center;
    color: #4a86ea;
}


#title, #verification{
    max-width: 100%;
    font-size: 24px;
    font-size: 6vw;
    position:relative;
    text-align:center;
    margin:auto;
    color: black;
    margin-top: 5px;
}

#title p, #verification p{
    color:#088889;
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 1.0em;
}

#contractConstruction{
    max-width: 100%;
    font-size: 24px;
    font-size: 7vw;
    position:relative;
    text-align:center;
    margin:auto;
    color: black;
    margin-top: 10px;
    line-height: 7vw;
    text-transform: uppercase;
}

.selector p{
    max-width: 100%;
    font-size: 12px;
    font-size: 4.4vw;
    position:relative;
    text-align:center;
    margin:auto;
    color: #088889;
    margin-top: 5px;
    text-decoration: underline;
}

.selector p.question{
    text-transform: uppercase;
    max-width: 100%;
    font-size: 12px;
    font-size: 3vw;
    position:relative;
    text-align:center;
    margin:auto;
    color: #b12134;
    margin-top: 0px;
    text-decoration: none !important;
    border: 0;
}

#startBuild.question{
    font-size: 1.0em;
    padding-bottom: 10px;
}

#search{

}

#contractCreation{

}

div.back {
    position:fixed;
    content: url(../img/back200.png);
    background-repeat: no-repeat;
    color: #b12134;
    z-index: 99;
    width: 15%;
}

.back{
    position:fixed;
    top: 2%;
    left: 2%;
}

